@page "/fetchdata"

@using plhhoa.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject UserProfileService UserProfileService
@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>
    <Authorized>
<h1>List of users</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (userProfiles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userProfile in userProfiles)
            {
                <tr>
                    <td>@userProfile.FirstName</td>
                    <td>@userProfile.LastName</td>
                    <td>@userProfile.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
</Authorized>
    <NotAuthorized>
        You are not authorized to view this page
    </NotAuthorized>
</AuthorizeView>
@code {
    private IEnumerable<UserProfile> userProfiles;

    protected override async Task OnInitializedAsync()
    {
        userProfiles = await UserProfileService.GetUserProfileAsync("");
    }
}
